<!--
  Generated template for the RadioPlayerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Radio Player</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button large icon-only clear
    *ngIf="!showButton" (click)="playStream()">
    <ion-icon name="play"></ion-icon>
    </button>


  <button ion-button large icon-only color="danger" clear
  *ngIf="showButton" (click)="stopStream()">
  <ion-icon name="pause"></ion-icon>
  </button>

</ion-content>
